html, body, #root, #root>div {
  width: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  box-shadow: 5px 5px 5px black;
  border-color: white !important;
  border-width: 1px;
  border-style: solid;
}

.customBoxShadow {
  box-shadow: 8px 8px 5px black;
}

.table {
  font-size: 24px;
}

.instructions {
  font-size: 24px !important;
}

.navbar-brand {
  font-family: Helvetica, sans-serif !important;
}