html, body, #root, #root>div {
  width: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  box-shadow: 5px 5px 5px black;
  border-color: white !important;
  border-width: 1px;
  border-style: solid;
}

.customBoxShadow {
  box-shadow: 8px 8px 5px black;
}

.table {
  font-size: 24px;
}

.instructions {
  font-size: 24px !important;
  color: black;
}

.navbar-brand {
  font-family: Helvetica, sans-serif !important;
}
@media only screen and (max-width: 800px)  {
  .instCon {
    margin: 5px !important;
  }
  .instCon > * {
  color: black;
  font-weight: 400;
  font-size: 12px !important;
  width: 100%;
  }
  .remove {
    text-align: center !important;
  }
}
@media only screen and (min-width: 800px)  {
  .instCon {
    background-image: url("./dex.jpg") !important;
    background-position: center;
    background-size: cover;
    padding: 245px !important;
  }
  
  .instCon > * {
    color: black;
    font-weight: 800;
  }
  .keys {
    font-size: 36px !important;
    margin-bottom: 40px;
  }
  .dex {
    font-size: 44px !important;
    padding-bottom: 190px !important;
  }
}

